* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  --main-button-color: #43b882;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #41b884 0%, #00d4fe 100%);
}

.container {
  flex-direction: column;
  border: 2px solid #fff;
  padding: 25px;
  width: 40%;
  min-width: 500px;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.input-button-wrapper {
  display: flex;
}

.input-button-wrapper input {
  padding: 8px;
  width: 18rem;
  border-radius: 5px;
  border: 2px solid #d1d3d4;
}

.input-button-wrapper input:focus {
  outline: none;
  border-color: #41b884;
}

.input-button-wrapper button {
  padding: 10px 25px;
  background-color: var(--main-button-color);
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.input-button-wrapper button:hover {
  opacity: 0.7;
}

.message-error-container p {
  background-color: red;
  padding: 5px 10px;
  margin-top: 10px;
  color: #fff;
}

.show-task-container {
  display: flex;
  padding: 25px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.show-task-container p {
}

.show-task-container button {
  padding: 5px 10px;
  background-color: var(--main-button-color);
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}
